* {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

p {
    margin: 0;
}
ul{
	padding-left: 0;
	list-style: none;
}


.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 574px;
        padding: 0 15px;
    }
}

div {
    box-sizing: border-box;
}

header .top-line {
    background-color: #37a14c;
}

header .top-line .content {
    padding-top: 17px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header .top-line p {
    font-size: 16px;
    color: #fff;
}


header .top-line .links {
    display: flex;
}


header .top-line .links a:hover {
    opacity: .5;
    transition: all 400ms ease;
}

header .top-line .links a {
    margin-right: 6px;
    text-decoration: none;
    display: block;
    transition: all 400ms ease;
    opacity: 1;
}

header .top-line .links a:last-child {
    margin-right: 0;
}

header .middle-line .content {
    padding-top: 13px;
    padding-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .middle-line .content .logo img {
    width: 100%;
    height: auto;
    max-width: 150px;
}

header .middle-line .content .logo {
    display: block;
    margin-right: 15px;
}

header .middle-line .content .contact {
    max-width: 268px;
    width: 100%;
    margin-right: 15px;
}

header .middle-line .content .contact .line {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

header .middle-line .content .contact .line:first-child,
header .middle-line .content .contact .line:last-child {
    margin-bottom: 0;
}

header .middle-line .content .contact .line p {
    color: #0f680e;
    font-size: 16px;
    width: 100%;
    max-width: 81px;
    margin-right: 8px;
}

header .middle-line .content .contact .line a {
    color: #0f680e;
    font-size: 20px;
    text-decoration: none;
}

header .middle-line .content .contact .line.skype a {
    font-size: 16px;
    color: #1200ff;
    display: flex;
    align-items: center;
}

header .middle-line .content .contact .line.skype a img {
    margin-right: 7px;
}

header .middle-line .content .nav-link {
    max-width: 138px;
    width: 100%;
}

header .middle-line .content .nav-link a {
    padding: 11px 8px;
    font-size: 16px;
    color: #fff;
    background-color: #ed9d25;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 11px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: all ease 400ms;
    position: relative;
    top: 0;
    left: 0;
}

header .middle-line .content .nav-link a:hover {
    transition: all ease 400ms;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    top: 3px;
    left: 3px;
}

header .middle-line .content .nav-link a:last-child {
    margin-bottom: 0;
}

header .middle-line .content .right {
    margin-left: 15px;
    width: 100%;
    height: auto;
    max-width: 350px;
}

header .menu {
    background-color: #37a14c;
}

header .menu menu {
    list-style: none;
    display: flex;
}

header .menu menu li {
    width: 20%;
    text-align: center;
    border-right: 1px solid #a3d606;
    opacity: 1;
    transition: all ease 400ms;
    
}

header .menu menu li:first-child {
    border-left: 1px solid #a3d606;

}

header .menu menu li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 16px 0;
    text-align: center;
}

header .menu menu li:hover {
    transition: all ease 400ms;
    opacity: .5;
    box-shadow: 2px 2px 2px rgba(0, 0, .5, .5);
    position: relative;
    top: 0;
    left: 0;

}
.main-content .line{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

section .sidebar {
    list-style: none;
	width: calc(33.33% - 9px);
}


section .sidebar .content {}

section .sidebar .content > li > a {
    font-size: 20px;
    color: #010101;
    text-decoration: none;
    display: block;
    padding: 18px 18px;
    border-bottom: 1px solid #eee;
    
}
section .sidebar .content > li > ul > li > a{
	text-decoration: none;
	 list-style: none;
	 font-size: 16px;
	 color: #ff0000;

}
section .sidebar .content > li > ul{
	margin-top: 16px;
	padding-left: 40px;
	}
section .main-block {
    width: calc(66.66% - 9px);
}

section .main-block .main-content img {
    width: 100%;
    max-width: 700px;
    padding-top: 15px;
    margin-bottom: 20px;


}

 .main-block .main-content .header {
    font-size: 24px;
    font-weight: 700;
}

 .main-block .main-content .text {
    font-size: 14px;
    padding-top: 19px;
    border-bottom: 1px solid #eee;
    padding-bottom: 36px;
    margin-bottom: 50px;
}

.main-block  .columns {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-block  .columns .column-item {
    
	width: calc(33.33% - 7px);
}
.main-block .columns .header{
	background: linear-gradient(to top, #008000, #2E8B57);
	padding: 12px 6px;
}
.main-block .columns .text {
	color: #fff;
	margin-bottom: 10px;
	font-size: 13px;
	height: 42px;
}
.main-block .columns .data {
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-block  .columns img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 30px;
    background: linear-gradient(to top, #FFD700, #FFA500);

}

footer .content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

footer .content p {
    font-size: 20px;
    color: #ffffff;
}

footer .contact {
    max-width: 268px;
    width: 100%;
    margin-right: 15px
}

footer.contact.line {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

footer .content .contact .line:first-child,
footer .content .contact .line:last-child {
    margin-bottom: 0;
}

footer .content .contact .line p {
    color: #000;
    font-size: 16px;
    width: 100%;
    max-width: 81px;

}
footer .content img{
	width: 100%;
	height: auto;
	max-width: 200px;
}

footer .content .contact .line a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

footer .bottom-line {
    background: linear-gradient(to top, #008000, #2E8B57);
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 991px){
	header .middle-line .content{
		flex-wrap: wrap;
	}
	header .middle-line .content .right{
		margin: 0 auto;
		margin-top: 30px;
	}
}
@media (max-width: 768px){
	footer .content{
		flex-wrap: wrap;
	}
	header .middle-line .content .logo{
		width: 100%;
		margin-right: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	header .middle-line .content .contact{
		margin-right: 0;
		margin-bottom: 15px;
	}
	header .middle-line .content .contact .line{
		justify-content: center;
	}
	header .middle-line .content .contact{
		max-width: inherit;
	}
	header .middle-line .content .nav-link{
		max-width: inherit;
	}
	header .middle-line .content{
		justify-content: center;
	}
	section .sidebar{
		width: 100%;
	}
	section .main-block{
		width: 100%;
	}
	.main-block .columns .column-item{
		width: 100%;
		margin-bottom: 15px;
	}
	.bottom-content .container{
		padding: 0;
	}
	footer .content a{
		margin: 0 auto;
		margin-bottom: 15px;
	}
}